.audio-playlist {
    width: 1600px;
    height: 800px;
    background-color: #222C32;
    margin-top: 3184px;
    position: absolute;
}
.audio-playlist__title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    margin-left: 215px;
    margin-top: 100px;
    letter-spacing: 1.2px;
    word-spacing: .5px;
    color: #8F9093;
}
.audio-playlist__vk {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 1015px;
    margin-top: 105px;
}
.audio-playlist__vk svg:hover path {
    fill: #EF5C3A;
}
.audio-playlist__youtube {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 1075px;
    margin-top: 105px;
}
.audio-playlist__youtube svg:hover path {
    fill: #EF5C3A;
}
.audio-playlist__image {
    width: 370px;
    height: 460px;
    position: absolute;
    margin-left: 1015px;
    margin-top: 233px;
}
.audio-playlist__playlist {
    width: 700px;
    margin-top: 235px;
    margin-left: 215px;
    position: absolute;
}
.audio-playlist__playlist .plyr--audio .plyr__controls {
    
    background: none;
    color: #FFFFFF;
    padding-bottom: 73px;
}
.audio-playlist__playlist .plyr--full-ui input[type=range] {
    color: #EF5C3A;
}
.audio-playlist__playlist .plyr--full-ui input[type=range]::-webkit-slider-thumb {
    width: 0;
    height: 0;
}
.audio-playlist__playlist .plyr__control:hover {
    background: none;
}
.audio-playlist__playlist .plyr__time {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

