.fullscreen__svg .a {
    fill:#ef5c3a;
}
.pause__svg .a {
    fill:#fff;
}
.about__video .plyr.plyr--stopped .plyr__controls {
    display: none;
}
.about__video .plyr__control--overlaid svg {
    width: 110px;
    height: 110px;
}
.about__video .plyr__control--overlaid:hover button{
    background: none;
}
.about__video .plyr__control--overlaid {
    background: none;
}
.about__video .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: none;
}
.about__video .plyr__control:hover .aPlay {
    fill: white;
}
.about__video .plyr__control:hover .bPlay {
    fill: black;
}
.about__video .plyr--full-ui input[type=range] {
    color: #DB5437;
}
.about__video .plyr--full-ui input[type=range]::-webkit-slider-thumb {
    width: 0;
    height: 0;
}


